
#references {
  padding: 40px;
  background-color: #f9f9f9;
}

#references h2 {
  color: #2c3e50;
}

#references ul {
  list-style-type: square;
}

#references a {
  color: #0066cc;
  text-decoration: none;
}

#references a:hover {
  text-decoration: underline;
}
